body {
	padding: 0 5rem;
}

.btn {
	width: 50px;
    outline: none;
    background: none;
    border: none;
    padding: 5px;
    margin-right: 5px;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}

.btn--add { background: #6074bc; }
.btn--save { background: #64c164; }
.btn--close { background: orange; }