.new-sub {
	position: fixed;
    background: #ff8d8d;
    padding: 1rem;
    border-radius: 4px;	
    color: white;
    font-weight: bold;
    top: 0;
    right: 140px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
	-webkit-box-shadow: 7px 7px 17px -7px rgba(0,0,0,0.45);
	-moz-box-shadow: 7px 7px 17px -7px rgba(0,0,0,0.45);
	box-shadow: 7px 7px 17px -7px rgba(0,0,0,0.45);    
    
    .new-sub__wrap {
    	display: flex;
    	align-content: center;

    	img {
    		height: 20px;
    	}
    }

    .new-sub__input {
    	margin-right: 10px;
    	margin-bottom: 10px;
    	border: none;
    	border-radius: 4px;
    	padding: 4px;
    	color: #4d4d4d;
    }
}
.settings-btn {
    position: fixed;
    background: #ff8d8d;
    width: 200px;
    font-weight: bold;
    color: white;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    top: 0;
    right: 140px;  
	-webkit-box-shadow: 7px 7px 17px -7px rgba(0,0,0,0.45);
	-moz-box-shadow: 7px 7px 17px -7px rgba(0,0,0,0.45);
	box-shadow: 7px 7px 17px -7px rgba(0,0,0,0.45);      
}
