@import '../assets/variables';

.start {
	display: flex;
	height: 100vh;
}

.start__content {
    background: linear-gradient(311deg, #4c74a7 0%, #57c698 100%);
    border-radius: 5px;
    width: 300px;
    margin: auto;
	color: white;
    text-align: center;
    padding: 2rem;

    .start__newsub {
    	margin-bottom: 10px;
    }
}

.new-sub__input.new-sub__input--start {
    width: 85%;
    font-size: 24px;
    border-radius: 5px;
    border: 1px solid $light-grey;
    padding: 0.5rem;
    color: #4dd1bf;
}

.button-wrap {
	text-align: right;
}

@media only screen and (min-width: 600px) {
    .start__content {
        padding: 2rem 7rem;
    }
}