@import '../assets/variables';

.subreddit-wrap {
	display: flex;
	flex-wrap: wrap;

	.subreddit {
		flex-basis: 33%;
	}

	.subreddit-title {
		text-decoration: none;
		color: white;

		&:hover {
			color: $grey;
		}

		h2 button {
			display: none;
		}
	}

	.subreddit:hover button {
		display: inline-block;
	}

	.subreddit-topics {
		padding: 0 0.5rem 0 0;
		.subreddit-topic {
		    list-style: none;
		    margin-bottom: 0.5rem;
		}
		small {
			color: #d14d4d;
		}
		.subreddit-topic__link {
			color: #c1c1c1;
			text-decoration: none;

			&.stickied {
				color: #3bdc3b;
				font-weight: bold;

				&:hover{
					color: green;
				}
			}
		}

		.subreddit-topic__link:hover {
			color: red;
		}
	}
}