@import '../assets/variables';

.subreddit-wrap {
	display: flex;
	flex-wrap: wrap;

	.subreddit {
		flex-basis: 33%;
	}

	.subreddit-title {
		text-decoration: none;
		color: white;

		&:hover {
			color: $dark-grey;
		}

		h2 button {
			display: none;
		}
	}

	.subreddit:hover button {
		display: inline-block;
	}

	.subreddit-topics {
		padding: 0 2rem 0 0;
		.subreddit-topic {
		    list-style: none;
		    margin-bottom: 0.5rem;
		}
		small {
			color: $dark-green;
		}
		.subreddit-topic__link {
			color: $dark-grey;
			text-decoration: none;

			&.stickied {
				color: $sewer-green;
				font-weight: bold;

				&:hover{
					color: #ceef4a;
				}
			}
		}

		.subreddit-topic__link:hover {
			color: $white;
			font-weight: bold;
		}
	}
}