body {
	background: url(https://res.cloudinary.com/dzeqj2xv1/image/upload/v1554657561/background-1789175_1280.png);
	padding-bottom: 8rem;
	/*overflow: hidden;*/
}

.dynamic-delete-button {
  cursor: pointer;
  position: relative;
  top: 4px;
  font-size: 24px;
  color: #999;
  transition: all .3s;
}
.dynamic-delete-button:hover {
  color: #777;
}
.dynamic-delete-button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.ant-form-explained {
	width: 65%;
	margin: 0 auto;
}