body {
	background: url(https://res.cloudinary.com/dzeqj2xv1/image/upload/v1554657561/background-1789175_1280.png);
	padding-bottom: 8rem;
	/*overflow: hidden;*/
}

.dynamic-delete-button {
  cursor: pointer;
  position: relative;
  top: 4px;
  font-size: 24px;
  color: #999;
  transition: all .3s;
}
.dynamic-delete-button:hover {
  color: #777;
}

.dynamic-delete-button svg {
	fill: #fdcb01;
}

.dynamic-delete-button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.ant-btn-primary {
	background-color: #f60261 !important;
	border-color: #f60261 !important;
	font-weight: bold !important;
}

.ant-form {
	padding: 0 2rem !important;
}

.ant-form-explained {
	width: 65%;
	margin: 0 auto;
}

.ant-form-explain {
	color: white !important;
	text-align: left;
	width: 76%;
	margin: 0 auto;
}

.stickied {
	color: yellow !important;
	font-weight: bold;
}

.svg-inline--fa {
	margin-right: 10px;
}

.fa-star {
	color: yellow;
}

.fa-video, .fa-image {
	color: #f60261;
}

.ant-drawer-header {
	background-color: #f60261 !important;
	border-bottom: none !important;
}

.anticon-close {
	color: white !important;
}

.ant-drawer-header .ant-drawer-title {
	color: white !important;
	font-weight: bold;
}

.ant-drawer-wrapper-body {
	background: #250448 !important;
}

.ant-drawer-wrapper-body:after{
	content: '';
	background: url(./assets/icons/moon.svg) -50px 0;
	background-repeat: repeat;
	position: absolute;
	height: 300px;
	width: 100%;
	background-repeat: no-repeat;
	display: block;
	bottom: -108px;
}

.x:after {
	content: '';
	background: url(./assets/icons/falling-star.svg);
	display: inline-block;
	height: 45px;
	background-size: 45px 45px;
	background-repeat: no-repeat;
	width: 45px;
	margin-left: 25px;
	position: absolute;
	top: 15px;
	transform: rotate(-135deg);
}